<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NLP APP | Login</title>
</head>
<body>
  <h1>NLP APP</h1>
  
  <h3>Login here</h3>

  <form action="#"> 
    <label>Email</label><br>
    <input type="email"> <br>
    <label>password</label><br>
    <input type="password"> <br> <br>
    <input type="submit" value="login">
  </form>

  <p>Not a member ?? <a href="/register">register here</a></p>
</body>
</html>