<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NLP APP | Register</title>
</head>
<body>
  <h1>NLP APP</h1>
  
  <h3>Register here</h3>

  <form action="/perform_reg" method="post"> 
    <label>Name</label><br>
    <input type="text" name="user" required> <br>
    <label>Email</label><br>
    <input type="email" name="email" required> <br>
    <label>password</label><br>
    <input type="password" name="pass" required> <br> <br>
    <input type="submit" value="Register">

  </form>
    <p>Not a member ?? <a href="/">register here</a></p>
</body>
</html> 